select
{
    display: inline-block;
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer;
}

.menu-container
{
    align-items: center;
    text-align: center;
    width: 200px;
    margin: 0 auto;
}