body
{
    justify-content: center;
    display: flex;
    align-items: center;
}

div
{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
}

button
{
    border: 1px 200px;
    box-shadow: 0 10px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
    background-color: #e8d7df;
    font-size: 40px;
    width: 500px;
}

button:hover 
{
    background-color: #ef82a1;
}